<div class="main-container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="breadcrumb">
                <li>
                    <h4 class="page-title">Dashboard</h4>
                </li>
                <li class=" bcrum-1">
                    <a routerLink="admin/dashboard"><i class="material-symbols-outlined">home</i></a>
                </li>
                <li class="breadcrumb-item">
                    Dashboard
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col l12">
            <div class="card">
                <div class="body">
                    <div class="row align-items-center">
                        <div class="col l4 m4 s12">
                            <div class="image"></div>
                        </div>
                        <div class="col l8 m8 s12">
                            <p class="bienvenida">¡Hola de nuevo!</p>
                            <div class="name">{{userName}}</div>
                            <p class="texto">
                                ¡Bienvenido a nuestro espacio de apoyo y crecimiento personal! Nos alegra que estés aquí. En esta plataforma, encontrarás recursos y herramientas diseñadas para acompañarte en tu camino hacia el bienestar y equilibrio emocional. Nuestro equipo de profesionales está comprometido en brindarte la mejor experiencia, facilitando el acceso a contenido psicoeducativo, ejercicios prácticos y una comunicación cercana y confiable. Esperamos que este espacio sea una fuente de apoyo y aprendizaje para ti. ¡Estamos aquí para acompañarte!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--  
     -->
    <!--
        <div class="col l4 m6 s12">
            <div class="card">
                <div style="width: 100%; display: flex; justify-content: center;">
                    <canvas id="DSM5"></canvas>
                </div>
            </div>
        </div>  
        
    -->
    <!--
    

-->
    <div class="row">
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-body">
                    <div class="left">
                        <p class="text-muted">Tests pendientes</p>
                    </div>
                    <div >
                        <div *ngIf="listaConjunta?.length !== 0" class="responsive-table">
                            <table class="mat-mdc-table" role="table" id="grid">
                                <thead role="rowgroup" class="mat-mdc-header-row">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tests Relacionados</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let r of listaConjunta">
                                        <td>{{r.FechaConsulta}}</td>
                                        <td>
                                            <ul>
                                              <button class="test-button" (click)="responderTest(test.id,test.Nombre,r.id,test.consultaTestId)" *ngFor="let test of r.tests">
                                                {{ test.Nombre }}

                                              </button>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="emptyList" *ngIf="listaConjunta?.length===0">
                        <p>No hay Tests Pendientes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-body">
                    <div class="left">
                        <p class="text-muted">Ejercicios por hacer</p>
                    </div>
                    <div *ngIf="ejerciciosAsignados?.length !== 0" class="responsive-table">
                        <table class="mat-mdc-table" role="table" id="grid">
                            <thead>
                            <tr>
                                <th>Ejercicio</th>
                                <th>Realizado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let ejercicio of ejerciciosAsignados">
                                <td ><span [class.tachado]="ejercicio.contestado">{{ejercicio.nombre}}</span></td>
                                <td>
                                <input
                                    class="browser-default checkbox"
                                    type="checkbox"
                                    [(ngModel)]="ejercicio.contestado"
                                    (change)="onCheckboxChangeEjercicio(ejercicio)"
                                />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="emptyList" *ngIf="ejerciciosAsignados?.length===0">
                    <p>No hay Ejercicios Pendientes</p>
                </div>
            </div>
        </div>

        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-body">
                    <div class="left">
                        <p class="text-muted">Psicoeducación</p>
                    </div>
                    <div *ngIf="modulosAsignados?.length !== 0" class="responsive-table">
                        <table class="mat-mdc-table" role="table" id="grid">
                            <thead>
                            <tr>
                                <th>Modulo</th>
                                <th>Realizado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let modulo of modulosAsignados">
                                <td ><a [routerLink]="['/paciente/vista-modulo',modulo.moduloPsicoeducativoId]"><span [class.tachado]="modulo.contestado">{{modulo.nombre}}</span></a></td>
                                <td>
                                <input
                                    class="browser-default checkbox"
                                    type="checkbox"
                                    [(ngModel)]="modulo.contestado"
                                    (change)="onCheckboxChangeModulo(modulo)"
                                />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="emptyList" *ngIf="modulosAsignados?.length===0">
                    <p>No hay Modulos Pendientes</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 m6 s12">
            <div class="card">
                <div class="card-body">
                    <div class="left">
                        <p class="text-muted">Evaluaciones</p>
                    </div>
                    <div class="evaluacionesContainer">
                        <div class="timeline">
                            <div class="timeline-event" *ngFor="let ce of consultasConEvaluacion">
                              <!-- Ícono según estado -->
                              <div class="timeline-icon" [ngStyle]="{'background-color': ce.color}">
                                <i class="material-symbols-outlined">
                                    done_outline
                                </i>
                              </div>
                          
                              <!-- Contenido del evento -->
                              <div class="timeline-content">
                                <a [routerLink]="['/paciente/vista-evaluacion',ce.id]"><h5>{{ ce.evaluacion }}</h5></a>
                                <p><strong>Fecha:</strong> {{ ce.FechaConsulta | date:'longDate' }}</p>
                                <!--
                                <a (click)="verDetalle(ce)" class="btn-small blue">Ver más</a> -->
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
