

<div class="main-container">
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="breadcrumb">
                <li>
                    <h4 class="page-title">Agregar Paciente</h4>
                </li>
                <li class=" bcrum-1">
                    <a routerLink="admin/dashboard"><i class="material-symbols-outlined">home</i></a>
                </li>
                <li class="breadcrumb-item">
                    Pacientes
                </li>
                <li class="breadcrumb-item">
                    Agregar Paciente
                </li>
            </ul>
        </div>
    </div>
    <div class="row clear-fix">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="header">
                    <h2>Información del Paciente</h2>
                </div>
                <div class="body">
                    <form action="" class="m-4" [formGroup]="fgValidation" (ngSubmit)="guardarRegistro()">
                        <div class="row">
                            <div class="col l4 m12 s12">
                                <div class="customInput">
                                    <input formControlName="nombre" class="browser-default" type="text" id="nombre" placeholder="Nombre" autocomplete="off">
                                </div>   
                            </div>
                            <div class="col l4 m12 s12 ">
                                <div class="customInput">
                                    <input formControlName="apellidoPaterno" class="browser-default" type="text" id="apellidoPaterno" placeholder="Apellido Paterno" autocomplete="off">
                                </div>
                            </div>
                            <div class="col l4 m12 s12t">
                                <div class="customInput">
                                    <input formControlName="apellidoMaterno" class="browser-default" type="text" id="apellidoMaterno" placeholder="Apellido Materno" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l6 m12 s12">
                                <div class="customInput">
                                    <input formControlName="direccion" class="browser-default" type="text" id="direccion" placeholder="Dirección" autocomplete="off">
                                </div>
                            </div>
                            <div class="col l6 m12 s12">
                                <div class="customInput">
                                    <input formControlName="telefono" class="browser-default" type="text" id="telefono" placeholder="Número Telefónico" autocomplete="off"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l4 m12 s12">
                                <div class="customInput">
                                    <input formControlName="email" class="browser-default" type="text" id="email" placeholder="Correo Electrónico" autocomplete="off">
                                </div>
                            </div>
                            <div class="col l4 m12 s12">
                                <div class="customInput">Fecha de Nacimiento:
                                    <input formControlName="fechaNacimiento" class="browser-default" type="date" id="fechaNacimiento" autocomplete="off">
                                </div>
                            </div>
                            <div class="col l4 m12 s12">
                                <div class="customInput">
                                    <select formControlName="terapeutaId" class="browser-default">
                                        <option *ngFor="let t of terapeutaList" value="{{t.id}}">{{t.Nombre}} {{t.ApellidoPaterno}} {{t.ApellidoMaterno}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l12 m12 s12 ">
                                <div class="customTextArea">
                                    <textarea formControlName="descripcion" class="browser-default" id="descripcion" placeholder="Escriba información útil sobre el estado de salud o antecedentes del paciente" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row btn-container">
                            <div class="col l2 m3 s6">
                                <button [disabled]="getFGV['nombre'].errors || getFGV['apellidoPaterno'].errors || getFGV['apellidoMaterno'].errors || getFGV['direccion'].errors
                                || getFGV['telefono'].errors || getFGV['email'].errors || getFGV['fechaNacimiento'].errors || getFGV['descripcion'].errors"  
                                class="btn col l12 s12 m12 btnLogin blue accent-3" type="submit">Guardar</button>
                            </div>
                            <div class="col l2 m3 s6">
                                <button  
                                class="btn col l12 s12 m12 btnLogin red accent-4" routerLink="/admin/dashboard">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
