<div [ngClass]="{'full-width': isIndexRoute(), 'content-width': !isLoginRoute()}">
  <app-barra-navegacion-superior *ngIf="!isLoginRoute()">
    <!--Aqui se importa el codigo de la barra de navegacion lateral-->
 </app-barra-navegacion-superior>
 
 <app-barra-navegacion-lateral *ngIf="!isLoginRoute() && !isIndexRoute()" >
 
 </app-barra-navegacion-lateral>
 
   <router-outlet>
     
   </router-outlet>
 
<!-- <app-footer *ngIf="!isLoginRoute()">
   Aqui se importa el codigo del footer
 </app-footer> -->
</div>


