<div class="main-container">
    <body>
        <h1>Cuestionario de Creencias (PBQ)</h1>
        <p>Por favor selecciona el grado en que crees cada una de las siguientes declaraciones:</p>
    
        <form id="pbqForm" class="radio">
            <!-- Pregunta 1 -->
            <p>1. Soy socialmente inepto e indeseable en el trabajo y/o en situaciones sociales.</p>
            <label><input type="radio" name="p1" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p1" value="3"> Creo mucho</label>
            <label><input type="radio" name="p1" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p1" value="1"> Creo poco</label>
            <label><input type="radio" name="p1" value="0"> No lo creo</label>
    
            <!-- Pregunta 2 -->
            <p>2. Debo evitar situaciones desagradables a toda costa.</p>
            <label><input type="radio" name="p2" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p2" value="3"> Creo mucho</label>
            <label><input type="radio" name="p2" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p2" value="1"> Creo poco</label>
            <label><input type="radio" name="p2" value="0"> No lo creo</label>
    
            <!-- Pregunta 3 -->
            <p>3. Debo evitar las situaciones en las que llamo la atención o ser tan discreto como me sea posible.</p>
            <label><input type="radio" name="p3" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p3" value="3"> Creo mucho</label>
            <label><input type="radio" name="p3" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p3" value="1"> Creo poco</label>
            <label><input type="radio" name="p3" value="0"> No lo creo</label>
    
            <!-- Pregunta 4 -->
            <p>4. Es mejor no hacer nada que intentar algo que podría fallar.</p>
            <label><input type="radio" name="p4" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p4" value="3"> Creo mucho</label>
            <label><input type="radio" name="p4" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p4" value="1"> Creo poco</label>
            <label><input type="radio" name="p4" value="0"> No lo creo</label>
    
            <!-- Pregunta 5 -->
            <p>5. Si ignoro un problema, este desaparece.</p>
            <label><input type="radio" name="p5" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p5" value="3"> Creo mucho</label>
            <label><input type="radio" name="p5" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p5" value="1"> Creo poco</label>
            <label><input type="radio" name="p5" value="0"> No lo creo</label>
    
            <!-- Pregunta 6 -->
            <p>6. Necesito a alguien disponible en todo momento para que me ayude a llevar a cabo lo que tengo que hacer o en caso de que algo malo suceda. </p>
            <label><input type="radio" name="p6" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p6" value="3"> Creo mucho</label>
            <label><input type="radio" name="p6" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p6" value="1"> Creo poco</label>
            <label><input type="radio" name="p6" value="0"> No lo creo</label>
    
            <!-- Pregunta 7 -->
            <p>7. Lo peor que me puede pasar es ser abandonado.</p>
            <label><input type="radio" name="p7" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p7" value="3"> Creo mucho</label>
            <label><input type="radio" name="p7" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p7" value="1"> Creo poco</label>
            <label><input type="radio" name="p7" value="0"> No lo creo</label>
    
            <!-- Pregunta 8 -->
            <p>8. Si no soy amado, siempre seré infeliz.</p>
            <label><input type="radio" name="p8" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p8" value="3"> Creo mucho</label>
            <label><input type="radio" name="p8" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p8" value="1"> Creo poco</label>
            <label><input type="radio" name="p8" value="0"> No lo creo</label>
    
            <!-- Pregunta 9 -->
            <p>9. Debo ser sumiso para tener a la gente de buenas conmigo.</p>
            <label><input type="radio" name="p9" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p9" value="3"> Creo mucho</label>
            <label><input type="radio" name="p9" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p9" value="1"> Creo poco</label>
            <label><input type="radio" name="p9" value="0"> No lo creo</label>
    
            <!-- Pregunta 10 -->
            <p>10. Necesito que otros me ayuden a tomar decisiones o que me digan que hacer.</p>
            <label><input type="radio" name="p10" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p10" value="3"> Creo mucho</label>
            <label><input type="radio" name="p10" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p10" value="1"> Creo poco</label>
            <label><input type="radio" name="p10" value="0"> No lo creo</label>
    
            <!-- Pregunta 11 -->
            <p>11. Tengo que depender de mí mismo para ver que las cosas se hagan bien.</p>
            <label><input type="radio" name="p11" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p11" value="3"> Creo mucho</label>
            <label><input type="radio" name="p11" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p11" value="1"> Creo poco</label>
            <label><input type="radio" name="p11" value="0"> No lo creo</label>
    
            <!-- Pregunta 12 -->
            <p>12. Es importante hacer un trabajo perfecto en todo.</p>
            <label><input type="radio" name="p12" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p12" value="3"> Creo mucho</label>
            <label><input type="radio" name="p12" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p12" value="1"> Creo poco</label>
            <label><input type="radio" name="p12" value="0"> No lo creo</label>
    
            <!-- Pregunta 13 -->
            <p>13. Tengo que estar en completo control de mis emociones.</p>
            <label><input type="radio" name="p13" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p13" value="3"> Creo mucho</label>
            <label><input type="radio" name="p13" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p13" value="1"> Creo poco</label>
            <label><input type="radio" name="p13" value="0"> No lo creo</label>
    
            <!-- Pregunta 14 -->
            <p>14. Fallas, defectos o errores son intolerables.</p>
            <label><input type="radio" name="p14" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p14" value="3"> Creo mucho</label>
            <label><input type="radio" name="p14" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p14" value="1"> Creo poco</label>
            <label><input type="radio" name="p14" value="0"> No lo creo</label>
    
            <!-- Pregunta 15 -->
            <p>15.  Mi forma de hacer las cosas, es generalmente la mejor manera.</p>
            <label><input type="radio" name="p15" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p15" value="3"> Creo mucho</label>
            <label><input type="radio" name="p15" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p15" value="1"> Creo poco</label>
            <label><input type="radio" name="p15" value="0"> No lo creo</label>
    
            <!-- Pregunta 16 -->
            <p>16. Está bien mentir y engañar mientras no me descubran.</p>
            <label><input type="radio" name="p16" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p16" value="3"> Creo mucho</label>
            <label><input type="radio" name="p16" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p16" value="1"> Creo poco</label>
            <label><input type="radio" name="p16" value="0"> No lo creo</label>
    
            <!-- Pregunta 17 -->
            <p>17. Otras personas son débiles y se merecen que se aprovechen de ellos.</p>
            <label><input type="radio" name="p17" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p17" value="3"> Creo mucho</label>
            <label><input type="radio" name="p17" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p17" value="1"> Creo poco</label>
            <label><input type="radio" name="p17" value="0"> No lo creo</label>
    
            <!-- Pregunta 18 -->
            <p>18. Debo hacer todo lo que quiera mientras no me atrapen.</p>
            <label><input type="radio" name="p18" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p18" value="3"> Creo mucho</label>
            <label><input type="radio" name="p18" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p18" value="1"> Creo poco</label>
            <label><input type="radio" name="p18" value="0"> No lo creo</label>
    
            <!-- Pregunta 19 -->
            <p>19. Como puedo salirme con la mía, no tengo que  preocuparme por las consecuencias.</p>
            <label><input type="radio" name="p19" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p19" value="3"> Creo mucho</label>
            <label><input type="radio" name="p19" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p19" value="1"> Creo poco</label>
            <label><input type="radio" name="p19" value="0"> No lo creo</label>
    
            <!-- Pregunta 20 -->
            <p>20. Si la gente no puede cuidarse a sí misma, es su problema.</p>
            <label><input type="radio" name="p20" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p20" value="3"> Creo mucho</label>
            <label><input type="radio" name="p20" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p20" value="1"> Creo poco</label>
            <label><input type="radio" name="p20"0 value="0"> No lo creo</label>+
    
            <!-- Pregunta 21 -->
            <p>21. Dado que soy tan superior tengo derecho a un trato especial y privilegios..</p>
            <label><input type="radio" name="p21" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p21" value="3"> Creo mucho</label>
            <label><input type="radio" name="p21" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p21" value="1"> Creo poco</label>
            <label><input type="radio" name="p21"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 22 -->
            <p>22. Es muy importante obtener reconocimiento, halagos y admiración.</p>
            <label><input type="radio" name="p22" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p22" value="3"> Creo mucho</label>
            <label><input type="radio" name="p22" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p22" value="1"> Creo poco</label>
            <label><input type="radio" name="p22"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 23 -->
            <p>23. La gente debe reconocer lo especial que soy..</p>
            <label><input type="radio" name="p23" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p23" value="3"> Creo mucho</label>
            <label><input type="radio" name="p23" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p23" value="1"> Creo poco</label>
            <label><input type="radio" name="p23"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 24 -->
            <p>24. Las necesidades de otras personas no deben interferir con las mías.</p>
            <label><input type="radio" name="p24" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p24" value="3"> Creo mucho</label>
            <label><input type="radio" name="p24" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p24" value="1"> Creo poco</label>
            <label><input type="radio" name="p24"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 25 -->
            <p>25. Trato de socializar únicamente con gente de mi estatus o nivel</p>
            <label><input type="radio" name="p25" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p25" value="3"> Creo mucho</label>
            <label><input type="radio" name="p25" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p25" value="1"> Creo poco</label>
            <label><input type="radio" name="p25"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 26 -->
            <p>26. Para ser feliz, necesito que otras personas me presten atención.</p>
            <label><input type="radio" name="p26" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p26" value="3"> Creo mucho</label>
            <label><input type="radio" name="p26" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p26" value="1"> Creo poco</label>
            <label><input type="radio" name="p26"0 value="0"> No lo creo</label>
    
             <!-- Pregunta 27 -->
            <p>27. La manera de obtener lo que quiero es deslumbrar o divertir la gente.</p>
            <label><input type="radio" name="p27" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p27" value="3"> Creo mucho</label>
            <label><input type="radio" name="p27" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p27" value="1"> Creo poco</label>
            <label><input type="radio" name="p27"0 value="0"> No lo creo</label>
    
             <!-- Pregunta 28 -->
            <p>28. Es terrible si la gente me ignora.</p>
            <label><input type="radio" name="p28" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p28" value="3"> Creo mucho</label>
            <label><input type="radio" name="p28" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p28" value="1"> Creo poco</label>
            <label><input type="radio" name="p28"0 value="0"> No lo creo</label>
    
             <!-- Pregunta 29 -->
            <p>29. Me gusta ser el centro de atención.</p>
            <label><input type="radio" name="p29" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p29" value="3"> Creo mucho</label>
            <label><input type="radio" name="p29" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p29" value="1"> Creo poco</label>
            <label><input type="radio" name="p29"0 value="0"> No lo creo</label>
    
    
            <!-- Pregunta 30 -->
            <p>30. La gente me presta atención sólo si actúo de manera extrema.</p>
            <label><input type="radio" name="p30" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p30" value="3"> Creo mucho</label>
            <label><input type="radio" name="p30" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p30" value="1"> Creo poco</label>
            <label><input type="radio" name="p30"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 31 -->
            <p>31. Disfruto más hacer las cosas por mí mismo que con otras personas.</p>
            <label><input type="radio" name="p31" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p31" value="3"> Creo mucho</label>
            <label><input type="radio" name="p31" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p31" value="1"> Creo poco</label>
            <label><input type="radio" name="p31"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 32 -->
            <p>32. En muchas situaciones, estoy mejor estando solo.</p>
            <label><input type="radio" name="p32" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p32" value="3"> Creo mucho</label>
            <label><input type="radio" name="p32" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p32" value="1"> Creo poco</label>
            <label><input type="radio" name="p32"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 33 -->
            <p>33. Mi privacidad es mucho más importante que la cercanía con la gente.</p>
            <label><input type="radio" name="p33" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p33" value="3"> Creo mucho</label>
            <label><input type="radio" name="p33" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p33" value="1"> Creo poco</label>
            <label><input type="radio" name="p33"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 34 -->
            <p>34. Puedo usar a la gente para mis propósitos, mientras no me involucre.</p>
            <label><input type="radio" name="p34" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p34" value="3"> Creo mucho</label>
            <label><input type="radio" name="p34" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p34" value="1"> Creo poco</label>
            <label><input type="radio" name="p34"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 35 -->
            <p>35. Puedo usar a la gente para mis propósitos, mientras no me involucre.</p>
            <label><input type="radio" name="p35" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p35" value="3"> Creo mucho</label>
            <label><input type="radio" name="p35" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p35" value="1"> Creo poco</label>
            <label><input type="radio" name="p35"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 36 -->
            <p>36. Tengo que estar con la guardia alta en todo momento.</p>
            <label><input type="radio" name="p36" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p36" value="3"> Creo mucho</label>
            <label><input type="radio" name="p36" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p36" value="1"> Creo poco</label>
            <label><input type="radio" name="p36"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 37 -->
            <p>37. No es seguro confiar en otras personas.</p>
            <label><input type="radio" name="p37" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p37" value="3"> Creo mucho</label>
            <label><input type="radio" name="p37" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p37" value="1"> Creo poco</label>
            <label><input type="radio" name="p37"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 38 -->
            <p>38. Si la gente actúa amigablemente, seguramente es porque quieren algo</p>
            <label><input type="radio" name="p38" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p38" value="3"> Creo mucho</label>
            <label><input type="radio" name="p38" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p38" value="1"> Creo poco</label>
            <label><input type="radio" name="p38"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 39 -->
            <p>39. La gente se aprovecharía de mí si se los permito.</p>
            <label><input type="radio" name="p39" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p39" value="3"> Creo mucho</label>
            <label><input type="radio" name="p39" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p39" value="1"> Creo poco</label>
            <label><input type="radio" name="p39"0 value="0"> No lo creo</label>
    
            <!-- Pregunta 40 -->
            <p>40. Si las personas averiguan cosas de mí, van a utilizarlas en mi contra.</p>
            <label><input type="radio" name="p40" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p40" value="3"> Creo mucho</label>
            <label><input type="radio" name="p40" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p40" value="1"> Creo poco</label>
            <label><input type="radio" name="p40" value="0"> No lo creo</label>
    
            <!-- Pregunta 41 -->
            <p>41. Si las personas se acercan a mí, van a descubrir mi verdadero “yo” y me rechazarán.</p>
            <label><input type="radio" name="p41" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p41" value="3"> Creo mucho</label>
            <label><input type="radio" name="p41" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p41" value="1"> Creo poco</label>
            <label><input type="radio" name="p41" value="0"> No lo creo</label>
    
            <!-- Pregunta 42 -->
            <p>42. Si tengo emociones desagradables se intensificarán y se saldrán de control.</p>
            <label><input type="radio" name="p42" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p42" value="3"> Creo mucho</label>
            <label><input type="radio" name="p42" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p42" value="1"> Creo poco</label>
            <label><input type="radio" name="p42" value="0"> No lo creo</label>
    
            <!-- Pregunta 43 -->
            <p>43. Cualquier señal de tensión en una relación indica que la relación está mal y debo terminarla.</p>
            <label><input type="radio" name="p43" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p43" value="3"> Creo mucho</label>
            <label><input type="radio" name="p43" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p43" value="1"> Creo poco</label>
            <label><input type="radio" name="p43" value="0"> No lo creo</label>
    
            <!-- Pregunta 44 -->
            <p>44. Soy débil y necesito de la gente.</p>
            <label><input type="radio" name="p44" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p44" value="3"> Creo mucho</label>
            <label><input type="radio" name="p44" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p44" value="1"> Creo poco</label>
            <label><input type="radio" name="p44" value="0"> No lo creo</label>
    
            <!-- Pregunta 45 -->
            <p>45. Las personas cercanas a mí pueden ser desleales o infieles.</p>
            <label><input type="radio" name="p45" value="4"> Creo totalmente</label>
            <label><input type="radio" name="p45" value="3"> Creo mucho</label>
            <label><input type="radio" name="p45" value="2"> Creo moderadamente</label>
            <label><input type="radio" name="p45" value="1"> Creo poco</label>
            <label><input type="radio" name="p45" value="0"> No lo creo</label>
    
            <div id="error" class="error"></div>
            <button type="submit">Calcular resultado</button>
        </form>
    
        <div id="resultado"></div>
    
        <script>
            document.getElementById("pbqForm").addEventListener("submit", function(event) {
                event.preventDefault();
                
                // Limpiar mensajes anteriores
                document.getElementById("error").textContent = "";
                document.getElementById("resultado").style.display = "none";
                
                let total = 0;
                let preguntasSinResponder = [];
    
                // Verificar respuestas y sumarlas
                for (let i = 1; i <= 45; i++) {
                    const respuesta = document.querySelector(`input[name="p${i}"]:checked`);
                    if (respuesta) {
                        total += parseInt(respuesta.value);
                    } else {
                        preguntasSinResponder.push(i);
                    }
                }
    
                // Verificar si hay preguntas sin responder
                if (preguntasSinResponder.length > 0) {
                    document.getElementById("error").textContent = 
                        `Por favor, responde las siguientes preguntas: ${preguntasSinResponder.join(", ")}`;
                    return;
                }
    
                // Mostrar el resultado
                const resultadoDiv = document.getElementById("resultado");
                resultadoDiv.innerHTML = `
                    <h3>Resultados del Cuestionario de Creencias (PBQ)</h3>
                    <p><strong>Puntaje total:</strong> ${total}</p>
                    <p><em>Nota: Este test es una herramienta de screening y no sustituye una evaluación profesional. 
                    Si tienes preocupaciones sobre tus creencias o comportamiento, consulta con un profesional de la salud.</em></p>
                `;
                resultadoDiv.style.display = "block";
    
                // Scroll hasta el resultado
                resultadoDiv.scrollIntoView({ behavior: 'smooth' });
            });
        </script>
    
    </body>
    
</div>