

<ul class="sidenav sidenav-fixed" id="menu-side">
    <li>
        <div class="user-view">

            <div class="logo">
                <div class="circle"></div>
            </div>
            <div class="imagenUsuarioContainer">
                <div class="imagenUsuario"></div>
            </div>
            <div class="profileUserTitle">
                <div class="name">Fernando Rivera Polvo</div>
                <div class="rol">Administrador</div>
            </div>
        </div>
    </li>
    <li>
        <div class="header">Principal</div>
    </li>
    <li>
        <a href="" class="menu-top menu-toogle">
            <i class="material-symbols-outlined">space_dashboard</i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="" class="menu-top menu-toogle">
            <i class="material-symbols-outlined">group</i>
            Pacientes
        </a>
    </li>
    <li>
        <a href="" class="menu-top menu-toogle">
            <i class="material-symbols-outlined">neurology</i>
            Terapeutas
        </a>
    </li>
    
</ul>